body {
	background-color: #2C2C2E;
	background: url("images/Sleek-Dark-Background.jpg");
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	text-align: center;
}

h1 {
	margin: 20px auto 0;
}

#button {
	font-family: Verdana, Geneva, sans-serif;
}

#footer {
	background-color: #434343;
	bottom: 0;
	color: white;
	font-size: 12px;
	left: 0;
	padding: .5rem;
	position: fixed;
	right: 0;
}

#history {
	display: block;
	border-radius: 10px;
	max-width: 45vw;
	height: 70vh;
	margin-top: 14vh;
}

h4 {
	color: rgb(192, 192, 192);
	margin: 0;
	padding: 5px 5px 5px 10px;
	text-align: left;
	background-image: linear-gradient(-90deg, black, rgb(44, 44, 44)); /* Standard syntax (must be last) */
	/* background-color: rgba(20, 20, 20, 0.897); */
	border-top: 1px solid #2C2C2E;
	border-left: 1px solid #2C2C2E;
	border-right: 1px solid #2C2C2E;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#history-output {
	background-color: rgba(33,33,33,.3);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom: 1px solid #2C2C2E;
	border-left: 1px solid #2C2C2E;
	border-right: 1px solid #2C2C2E;
	display: block;
	overflow-y: auto;
	height: 68vh;
	padding: 0 20px;
	word-wrap: break-word;
}

#input {
	height: 34vh;
	padding-top: 12vh;
}

#input-box {
	color: black;
	border-radius: 5px;
	width: 90%;
	margin: 20px auto 25px;
	max-width: 500px;
}

#output {
	font-size: 2em;
	padding: 20vh 0 29vh;
	height: 35vh;
	word-wrap: break-word;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.container {
	margin-right: 2vw;
	margin-left: 2vw;
	width: auto;
}

.btn-lg {
	padding: 10px 50px;
}

.btn-primary {
	background-color: rgb(20, 20, 20);
	border: 1px solid #434343;
}

.btn-primary:hover {
	background-color: rgb(36, 36, 36);
	border: 1px solid #434343;
}

#io-col {
	height: 96vh;
}

.fade {
	opacity: 100;
	display: none;
}

@media (max-width: 992px) {
	body {
		font-size: 24px;
	}

	.container {
		margin-top: 0;
	}

	#io-col {
		height: 100vh;
	}

	#input {
		height: 26vh;
		padding-top: 10vh;
	}

	#output {
		height: 66vh;
		padding: 30vh 0 20vh;
		width: 100%;
	}

	#history {
		margin-top: 0;
		margin-bottom: 15px;
		height: 97vh;
		max-width: 100vw;
	}

	#history-output {
		height: 94vh;
	}

	.fade {
		display: inline;
	}
}