body {
	background-color: #2C2C2E;
	background-image: url("congruent_outline.png");
	background-repeat: repeat;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	text-align: center;
}

h1 {
	margin: 20px auto 0;
}

#button {
	font-family: Verdana, Geneva, sans-serif;
}

#footer {
	background-color: #434343;
	bottom: 0;
	color: white;
	font-size: 12px;
	left: 0;
	padding: .5rem;
	position: fixed;
	right: 0;
}

#history {
	display: block;
	border-radius: 10px;
	max-width: 42vw;
	height: 70vh;
	margin-top: 14vh;
}

h4 {
	margin: 0;
	padding: 5px 5px 5px 10px;
	text-align: left;
	background-color: #565656;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#history-output {
	background-color: rgba(33,33,33,.5);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	display: block;
	overflow-y: auto;
	height: 68vh;
	padding: 0 20px;
	word-wrap: break-word;
}

#input {
		height: 49vh;
		padding-top: 12vh;
}

#input-box {
	color: black;
	border-radius: 5px;
	width: 90%;
	margin: 20px auto 25px;
	max-width: 500px;
}

#output {
	font-size: 2em;
	padding: 40px 0 130px;
	height: 49vh;
	word-wrap: break-word;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.container {
	margin-right: 2vw;
	margin-left: 2vw;
	width: auto;
}

.btn-lg {
	padding: 10px 50px;
}

#io-col {
	height: 96vh;
}

.fade {
	opacity: 100;
	display: none;
}

@media (max-width: 992px) {
	body {
		font-size: 24px;
	}

	.container {
		margin-top: 0;
	}

	#io-col {
		height: 100vh;
	}

	#input {
		height: 46vh;
		padding-top: 10vh;
	}

	#output {
		height: 46vh;
	}

	#history {
		margin-top: 0;
		margin-bottom: 15px;
		height: 97vh;
		max-width: 100vw;
	}

	#history-output {
		height: 94vh;
	}

	.fade {
		display: inline;
	}
}